<app-page-title [title]="'Signup'"></app-page-title>
<div class="container d-flex justify-content-center">
  <form class="form w-50" [formGroup]="signupForm">
    <app-form-input
      [value]="getControl('name').value"
      [label]="'Name:'"
      [showError]="showError"
      [inputFormControl]="getControl('name')"
      (pressedEnter)="onSubmit()"
    ></app-form-input>
    <app-form-input
      [value]="getControl('email').value"
      [label]="'Email:'"
      [showError]="showError"
      [inputFormControl]="getControl('email')"
      (pressedEnter)="onSubmit()"
    ></app-form-input>
    <app-form-input
      [label]="'Password:'"
      [value]="getControl('password').value"
      [showError]="showError"
      [inputFormControl]="getControl('password')"
      (pressedEnter)="onSubmit()"
    ></app-form-input>
    <app-form-input
      [label]="'Confirm Password:'"
      [value]="getControl('confirmPassword').value"
      [showError]="showError"
      [inputFormControl]="getControl('confirmPassword')"
      (pressedEnter)="onSubmit()"
    ></app-form-input>
    <div class="float-end">
      <button mat-raised-button color="primary" class="w25" (click)="onSubmit()">Register</button>
    </div>
  </form>
</div>
