@import "variables";

.likes {
  border: 2px solid $primary-color;
  border-radius: 5px;
  margin-bottom: 0;
  height: 30px;
  padding: 5px 5px 5px 2px;
  cursor: pointer;

  span {
    font-weight: bold;
    font-size: 0.85rem;
    color: $primary-color;
  }

  mat-icon {
    display: flex;
    align-items: center;
    color: $primary-color;
    font-size: 20px;
    line-height: 20px;
  }
}
