<form class="form" [formGroup]="postCreateForm">
  <app-form-input
  class="form-control"
  [value]="getControl('title').value"
  [showError]="showError && !!getControl('title').errors"
  [errorMessage]="'Invalid Title'"
  [inputFormControl]="getControl('title')"
  (pressedEnter)="onSubmit()"
  ></app-form-input>
  <app-form-input
  class="form-control"
  [value]="getControl('subtitle').value"
  [showError]="showError && !!getControl('subtitle').errors"
  [errorMessage]="'Invalid Subtitle'"
  [inputFormControl]="getControl('subtitle')"
  (pressedEnter)="onSubmit()"
  ></app-form-input>
  <div class="textarea">
    <textarea [formControl]="getControl('text')"></textarea>
    <p *ngIf="showError && !!getControl('text').errors">Text required</p>
  </div>
  <button class="btn" (click)="onSubmit()">Add Post</button>
</form>
