<app-page-title title="Create Post"></app-page-title>
<div class="container d-flex justify-content-center">
  <form class="form w-50" [formGroup]="postCreateForm">
    <app-form-input
      [value]="getControl('title').value"
      [label]="'Title:'"
      [inputFormControl]="getControl('title')"
      (pressedEnter)="onSubmit()"
    ></app-form-input>
    <app-form-input
      [value]="getControl('subtitle').value"
      [label]="'Subtitle:'"
      [inputFormControl]="getControl('subtitle')"
      (pressedEnter)="onSubmit()"
    ></app-form-input>
    <app-form-input
      [value]="getControl('text').value"
      [label]="'Text:'"
      [type]="'textarea'"
      [inputFormControl]="getControl('text')"
      (pressedEnter)="onSubmit()"
    ></app-form-input>
    <div class="text-center">
      <button mat-raised-button color="primary" class="w75" (click)="onSubmit()">Add Post</button>
    </div>
  </form>
</div>
