<div class="mb-3">
  <label class="form-label" *ngIf="label">
    {{ label }}
  </label>
    <input
      class="form-control"
      type="text"
      [placeholder]="placeholder"
      [formControl]="inputFormControl"
      [ngClass]="{ error: showError && inputFormControl.invalid}"
      (keyup.enter)="pressedEnter.emit()"
      (change)="changeValue($event)"
    />
    <div
      *ngIf="showError"
      class="invalid-feedback"
    >
      <p class="error-msg">{{ errorMessage }}</p>
    </div>
</div>
