<mat-toolbar color="primary" class="header sticky-top shadow flex-row justify-content-between">
  <div class="header__logo">YS Pet</div>
  <div class="d-flex gap-2">
    <button mat-button color="white" aria-label="Create Post" [routerLink]="'/posts/create'">
      Create Post
    </button>
    <button mat-button color="white" aria-label="All Posts" [routerLink]="'/'">
      All Posts
    </button>
  </div>
  <div class="navbar-end">
    <span class="fw-bold">{{ name }}</span>

    <button mat-button color="white" routerLink="/signup" routerLinkActive="has-background-light"
            class="navbar-item button ml-3"
            *ngIf="!isLogged">Signup
    </button>
    <button mat-button color="white" routerLink="/login" routerLinkActive="has-background-light"
            class="navbar-item button ml-3"
            *ngIf="!isLogged">Login
    </button>
    <button mat-button color="white" (click)="onLogout()"
            *ngIf="isLogged">Logout
    </button>
  </div>
</mat-toolbar>
<mat-progress-bar *ngIf="preloader.isVisible" mode="indeterminate" class="preloader"></mat-progress-bar>
