@import "variables";

.post-item {
  .header {

    &__avatar {
      font-size: 2.5rem;
      color: teal;
      margin-right: 30px;
    }

    &__author {
      font-size: 1.05rem;
      color: $dark-teal-text;
      margin-bottom: 0;
    }

    &__date {
      color: teal;
      font-size: 0.8em;
      text-align: right;
    }
  }

  .title-group {
    &__title {
      color: $dark-teal-text;
    }

    &__subtitle {
      font-size: 1.2em;
      color: $teal-color;
    }
  }

  .content {
    &__btn {
      color: $dark-teal-text;
    }
  }
}
