<app-page-title title="Posts List"></app-page-title>

<div class="container post-item">
  <mat-card *ngFor="let post of posts" class="mb-4">
    <div class="header mb-3 d-flex justify-content-between">
      <div class="d-flex">
        <mat-icon class="header__avatar">{{ post.avatar }}</mat-icon>
        <div>
          <p class="header__author">
            {{ post.author }}
          </p>
          <p class="header__date">
            {{ post.date }}
          </p>
        </div>
      </div>
      <app-likes [likes]="post.likes" [editable]="true" (likeCallback)="updateLikes(post.id)"></app-likes>
    </div>
    <mat-card-title-group class="title-group d-flex justify-content-center text-center">
      <mat-card-title class="title-group__title mb-3">{{ post.title }}</mat-card-title>
      <mat-card-subtitle class="title-group__subtitle">{{ post.subtitle }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content class="content">
      <p class="content__text">{{ post.text }}</p>
      <mat-card-actions class="content__btn">
        <button mat-button>Read more...</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

</div>
